:root{
    --bg-color: rgb(116, 102, 102);
    --heading: gold;
    --book-cover:rgb(3, 3, 39);
    --page-color: rgb(199, 193, 193);
    --text : gray;
    --color:rgb(136,19,186);
}
body{
    background:var(--bg-color);
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}
.container{
    position: relative;
    height:auto;
}
.book{
    position: relative;
    perspective: 2000px;
    width:500px;
    height:630px;
}
.book .page{
    position: absolute;
    width:100%;
    height:100%;
    transform-style:preserve-3d;
    transform-origin: left;
    transition: transform .5s ease;
}
/*stlying for front page*/
.book .page #coverpage{
    position: absolute;
    width:100%;
    height:100%;
    background:var(--book-cover);
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.book .page #coverpage h1{
    color:var(--heading);
    letter-spacing: 3px;
    text-shadow:0 0 10px var(--heading);
}
/*creating front and back pages*/
.book .page .front, .book .page .back{
    position: absolute;
    width:100%;
    height:100%;
    background:var(--page-color);
    padding:20px;
    backface-visibility: hidden;
}
.book .page .back{
    transform : rotateY(180deg);
}
/*Logo styling*/
.back .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    position:relative;
    width:150px;
    height:150px;
}
.logo img{
    position: absolute;
    height:100%;
    width:100%;
    border-radius:50%;
    border:2px solid var(--color);
    padding:2px;
}
.content .logo{
    margin-top:50px;
}
.content h1{
    letter-spacing: 3px;
}
.content h2{
    letter-spacing: 4px;
    margin-top:-4px;
    color:var(--color);
    text-shadow: 1px 1px 5px var(--color);
}
.social-media{
    display: flex;
    gap:20px;
}
.social-media a{
    padding:7px;
    border-radius:50%;
    border:2px solid var(--color);
    transition:.5s;
}
.social-media a:hover{
    background:var(--color);
    color:white;
}
.btns{
    display:flex;
    width:100%;
    gap:30px;
}
.btns button{
    padding:10px;
    border:2px solid var(--color);
    width:50%;
    letter-spacing: 2px;
    cursor:pointer;
    border-radius:5px;
    transition:.5s ease;
}

.btns button:nth-child(1){
    background:var(--color);
    color:#fff;
}
.btns button:nth-child(2){
    background:transparent;
}
.btns button:nth-child(2):hover{
    background:var(--color);
    color:#fff;
}
.content .previous-btn{
position: absolute;
bottom: 10px;
padding:6px;
left:20px;
border-radius:50%;
cursor:pointer;
}
.content .previous-btn:active{
    border:2px solid var(--color);
}
/*creating page2*/
.book .page .front h1{
    text-align: center;
    letter-spacing: 3px;
}

/*about education*/
.education-details{
    width:100%;
    height:auto;
}
.education-details .details span{
    color:var(--color);
}
.education-details .details span b{
    margin-left:5px;
    font-size:1.2rem;
}
#page1 h1{
    margin-top:-10px;
}
.education-details .details{
    margin-left:20px;
}
#page1 .education-details{
    position: relative;
    margin-top:-25px;
    transform:scale(0.9);
}
#page1 .education-details{
    border-left:2px solid var(--color);

}
#page1 .education-details .details::before{
    position: absolute;
    content :'';
    border-radius:50%;
    background:var(--color);
    padding:10px;
    margin-left:-30px;
}
#page1 .nextbtn{
    bottom:10px;
    right:20px;
    border-radius:50%;
    padding:6px;
    position: absolute;
    cursor:pointer;
}
#page1 .previous-btn{
    position: absolute;
    bottom:10px;
    padding:6px;
    border-radius:50%;
    cursor:pointer;
}
#page1 .previous-btn:active{
    border:2px solid var(--color);
}
#page1 .nextbtn:active{
    border:2px solid var(--color);

}
#back1 h1{
    text-align: center;
}
#back1 .skill-container{
    position: relative;
    width:100%;
    height:auto;
    background:transparent;
    border:2px solid var(--color);
    border-radius:10px;
}
#back1 .skill-container .languages{
    display: flex;

    justify-content: center;
}
#back1 .skill-container .languages span{
    color:var(--color);
    padding:10px;
    font-size:6rem;
}
#back1 .previous-btn{
    position: absolute;
    bottom: 10px;
    padding:6px;
    cursor:pointer;
    border-radius:50%;
}
#back1 .previous-btn:active{
    border:2px solid var(--color);
}
.page1{
    z-index:3;
}
.page2{
    z-index: 2;
}
 .nextbtn{
    position: absolute;
    color:white;
    bottom: 10px;
    right:20px;
    padding:6px;
    border-radius:50%;
    cursor:pointer;
}
.nextbtn:active{
    border:2px solid var(--color);
}
.flipped{
    transform:rotateY(-180deg);
}